.row
  .nine.columns
    %h1 It's War!
    #result
    .row
      .three.columns
        %h3#player Player
      .seven.columns
        %h3#computer Computer
    #board
      #player_hand.card
      #computer_hand.card
      .cards
        %div
          %span Player's Cards:
          %span#players_cards
        %div
          %span Computer's Cards:
          %span#computers_cards
        %div
          %span Total:
          %span#total_cards
        %div
          %span Rounds :
          %span#rounds
      =button_tag "Start Game", :id=>'startgame', :class=>'button radius'
      =button_tag "Play Hand", :id=>'playhand', :class=>'button radius'
      =button_tag "Speed Play", :id=>'speedplay', :class=>'button radius'
  .three.columns
    #leaderboard
      %h3 Leaderboard
      - @leaderboard.each do |user|
        .record
          = user[0].capitalize
          = user[1]
