%h1 New Game
#board
  #player_hand.card
  #deck.card
  #computer_hand.card
.cards
  %div
    %span "Player's Cards: "
    %span#players_cards
  %div
    %span "Computer's Cards: "
    %span#computers_cards
  %div
    %span "Total: "
    %span#total_cards
=button_tag "Start Game", :id=>'startgame'
=button_tag "Play Hand", :id=>'playhand'
=button_tag "Speed Play", :id=>'speedplay'