body {
  background-color: green;
}

#board {
  width: 800px;
  vertical-align: top;
}

#leaderboard {
  width: 200px;
}

.card {
  width: 200px;
  height: 150px;
  border: 1px dashed black;
  margin: 5px;
  display: none;
  vertical-align: middle;
  text-align: center;
}

#player_hand, #computer_hand {
  background-size: cover;
  width: 201px;
  height: 251px;
}

