#board {
  width: 800px;
  border: 1px solid red;
  vertical-align: top;
}

#leaderboard {
  width: 200px;
}

.card {
  width: 200px;
  height: 150px;
  border: 1px dashed black;
  margin: 5px;
  display: none;
  vertical-align: middle;
  text-align: center;
}

