.row
  .twelve.columns
    %ul
      %li= link_to "Create User", new_user_path
      %li= @auth ? link_to("Logout", login_path, :method=>'delete') : link_to("Login", login_path)
      %li= link_to "New Game", new_game_path
      %li= "Hello " + @auth.name.capitalize if @auth
